<div class='modal'>
  <h2 class='modal__title'>Add new note</h2>
  <form class='add'>
    <label class='add__label'>
      Title *
      <input class='add__input' type='text' name='title' placeholder='Title' required />
    </label>
    <label class='add__label'>
      Text *
      <textarea class='add__textarea' name='text' placeholder='Text' required></textarea>
    </label>
    <label class='add__label'>
      Author *
      <input class='add__input' type='text' name='author' placeholder='Author' required />
    </label>
    <label class='add__label'>
      Date *
      <input class='add__input' type='datetime-local' name='date' placeholder='Date' required />
    </label>
    <button class='add__button' type='submit'>Add note</button>
  </form>
</div>