<div class='modal'>
  <h2 class='modal__title'>Are you sure you want to delete this note?</h2>
  <ul class='delete'>
    <li class='delete__item'>
      <button
        class='delete__button delete__button--yes'
        type='button'
        data-delete='delete'
      >Delete</button>
    </li>
    <li class='delete__item'>
      <button
        class='delete__button delete__button--no'
        type='button'
        data-cancel='cancel'
      >Cancel</button>
    </li>
  </ul>
</div>