<footer class="footer">
  <div class="section">
    <div class="container container--footer">
      <div class="footer__wrapper">
        <p class="footer__copyright">© Notes 2021 - 2022</p>
        <p class="footer__version">Version 1.2.0</p>
      </div>

      <a class="footer__link" href="index.html">
        <svg class="footer__logo" width="50" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <h1 class="footer__title">Notes</h1>
      </a>

    <p class="footer__powered">Powered by <span class="footer__studios">BS</span></p>
  </div>
</footer>
<div class="line"></div>
